<div class="text-center mt-5">
    <h1>
        Welcome to my express template (with TypeScript and MongoDB)
    </h1>
    <p>
        For more informations, <a href="https://mxtheuz.com.br">see my website</a>
    </p>
</div>